@charset "utf-8";
@import url("fonts.css");
@import url("base.css");
@import url("button.css");	
@import url("table.css");	
@import url("tab.css");	
@import url("skeleton.css");
@import url("layout.css?ver=160317-0516");
@import url("datepicker.css");
@import url("project-helper.css");

.card-content {
    width: auto;
    padding: 15px;
    border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	border:1px solid #ced9d4;
    background:#fff;
	position:relative;
	margin: 1%;
}

/*
.parti-photo {
	float:left;
}
/*
.parti-photo:after {
	content:"";
	display:block;
	clear:both;
	
} */



.part-photo {
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}




.bottom-info {
float:left;
}

.top-info {
	float:left;
	margin-left: 35px;
}

.parti-info {
	float:right;
}

#team-name {
	color:#2e3331;
	font-weight: 600;
	font-size: 180%;
	text-align: left;
}



#parti-pr {
	margin-top: 1%;
	min-height: 1%;
	width: 100%;
}

.parti-intro {
	width: 100%;
	height: 74px;
}

/*participant-list prevent click already registered participant*/
#btn-finish-register {
	pointer-events: none;
	cursor: default;
}

.clearfix {
	overflow: auto;
}
.btn-parti-regist {
	float: right;
}

.info {
	float:left;
	margin-left: 30px;
}
.info:first-child{
	margin-left:0;
}
.meeting-explain{
	margin: 2%;
	text-align: left;
}
.meeting-explain h4{
	line-height: 1.4em;
}
/*overlay dialog*/
.ui-widget-overlay.custom-overlay
{
	background-color: black;
	background-image: none;
	opacity: 0.9;
	z-index: 1040;
}